fastapi
uvicorn

sqlalchemy
psycopg2-binary

chromadb

torch==2.7.1
sentence-transformers

openai
pymupdf
pypdf

langgraph
langchain-core
langchain-text-splitters

google-genai

python-dotenv
python-multipart

faker